 * { outline: cyan solid 3px; }

/* No media query for `xs` since this is the default in Bootstrap, HERE WE WRITE EXCEPTIONS*/
                
/* sm (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* md (tablets, 768px and up)*/
@media (min-width: 768px) {
    
}

/* lg (desktops, 992px and up)*/
@media (min-width: 992px) {
    
}

/* xl (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }




html{
    scroll-behavior: smooth;
}

.navigation{
    height:90px
}

.links{
    margin: 20px;
    font-size: 1.rem;
    text-align: right;
}
.links a{
    color: #000;
    margin: 15px;
}
.links a:hover{
    color: darkcyan;
    text-decoration: none;
}