 * { outline: cyan solid 3px; }




/* No media query for `xs` since this is the default in Bootstrap, HERE WE WRITE EXCEPTIONS*/
                
/* sm (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* md (tablets, 768px and up)*/
@media (min-width: 768px) {
    .green {
        height: 180px;
    }
}

/* lg (desktops, 992px and up)*/
@media (min-width: 992px) {
    .green {
        height: 250px;
    }
    .grey {
        height: 250px;
    }
}

/* xl (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
