/**  { outline: cyan solid 3px; }*/


/* No media query for `xs` since this is the default in Bootstrap, HERE WE WRITE EXCEPTIONS*/       /* sm (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .carousel-inner{height: 1090px;transform:scale(1);} 
    .carousel-item img{max-width: 700px; margin:auto;}
}

/* md (tablets, 768px and up)*/
@media (min-width: 768px) {
    .carousel-inner{max-height: 1100px;} 
    .carousel-item img{max-width: 900px; margin:auto;}
}

/* lg (desktops, 992px and up)*/
@media (min-width: 992px) {
   .carousel-inner{max-height: 800px;} 
    .carousel-item img{max-width: 1000px; margin:auto;transform: scale(1);}
    
}

/* xl (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }




html{
    scroll-behavior: smooth;
}

body{
    background-color: #000;
}

/*NAVIGATION*/
.header{
    position: fixed;
    z-index: 10;
    top:0;
    background-color: black;
    height:80px;
    width:100%;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.logo img{
    padding-top: 20px;
    padding-left: 20px;
    width:300px;
    opacity: 0.8;
}

.logo img:hover{
    opacity: 1;
}

.links{
    padding: 25px 40px;
    font-size: 1.rem;
    text-align: right;
}
.links a{
    color: white;
    margin: 15px;
    opacity: 0.6;
}
.links a:hover{
    color: lightskyblue;
    text-decoration: none;
    opacity: 1;
}

/*HOME*/
#home{
    background-color: #000;
    position:relative;
}

.logoHome{
    width:500px;
}

.carousel-content {
    position: absolute;
    text-align: center;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -250px;
    z-index: 2;
    color: white;
    text-shadow: 0 1px 2px rgba(2,0,0,.7);
}
.carousel-indicators{
    z-index: 2;
}

.carousel-inner{
    background-position:bottom;
}

/*CONTACT*/
.contact{
    height: 815px;
    width: 1000px;
    background-color: white;
    padding: 40px;
    padding-top: 90px;
}

.contact form{
    max-width: 900px;
    margin: auto;
}

.notes{
    height: 300px;
}

/*FOOTER*/
.footer{
    height: 815px;
    background-color: aliceblue;
}


